Cannot create symmetric key larger than 32 bytes

I am trying to adhere to COSE requirements from [Section 3.1 of RFC 9053](https://www.rfc-editor.org/rfc/rfc9053.html#section-3.1) regarding HMAC key sizes, which requires:

> For those algorithms that derive the key (such as ECDH), the derived key MUST be the same size as the output of the underlying hash function.

For SHA-384 this is 48 bytes, but when I try to create a key for this I get a pycose error:

```
pycose.exceptions.CoseInvalidKey: Key length should be either 16, 24, or 32 bytes
```


Related to other issue #132 the condition for what a 'valid' key length is really should be delegated to the algorithm at time of use, not the `SymmetricKey.k` setter.