Discrepancy in HKDF SuppPubInfo encoding

The [`CoseBase.phdr_encoded()`](https://github.com/TimothyClaeys/pycose/blob/a61ac735a53925612ec38234f9c944ab71b6782b/pycose/messages/cosebase.py#L125) function currently correctly conforms to the COSE requirement that empty protected header maps be encoded as an empty byte string rather than a byte string containing an encoded empty map.

The similar use of an encoded protected header for the `SuppPubInfo` structure from [Section 5.2 of RFC 9053](https://www.rfc-editor.org/rfc/rfc9053.html#section-5.2) is currently encoded by pycose with the [`SupPubInfo.encode()`](https://github.com/TimothyClaeys/pycose/blob/a61ac735a53925612ec38234f9c944ab71b6782b/pycose/messages/context.py#L52) function, which does not handle the special case of an empty protected map. Since the same logic applies in both places, it might be helpful to move it into a shared use stand-alone (internal) function.

This was originally discovered in BrianSipos/dtn-bpsec-cose#47.